footer {
    color: #fff;
}

.footer_container {
    padding-left: 0;
    padding-right: 0;
}

.footer_box {
    display: flex;
    width: 1240px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_box.bottom {
    max-width: 1240px;
}

footer ul {
    margin: 17px 0 0 0;
    text-align: left;
}

footer li {
    margin: 10px auto;
    font-size: 14px;
}

footer a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
}

footer a:hover {
    color: #D8B074;
    transition: 0.3s;
}

.footer_top {
    padding: 30px 15px;
    display: flex;
    border-top: 0.5px solid #959595;
    border-bottom: 0.5px solid #959595;
}

.footer_content h5 {
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    padding-left: 7px;
    border-left: 4px solid #D8B074;
    text-align: left;
}

.footer_content p {
    margin: 27px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 162%;
    width: 97%;
    text-align: left;
}

.about_col {
    width: 41.66666667%;
}

.menu_col {
    width: 16.6666667%;
    margin-left: 3%;
}

.information_col {
    width: 16.6666667%;
    margin-left: 1%;
}

.contact_col {
    width: 16.6666667%;
    margin-left: 4%;
}

.contact_info {
    font-weight: 400;
}

.footer_social_links {
    display: flex;
}

.footer_social_links li {
    width: 27px;
    height: 27px;
    border: 1px solid #d8b074;
    border-radius: 20px;
    text-align: center;
    background: #D8B074;
    margin: 12px 8% 0px 0px;
}

.social_icon {
    font-size: 19px;
    color: #FFFFFF;
    line-height: 26px;
}

.social_icon:hover {
    transition: 0.3s;
    color: #333;
}

.instagram {
    padding-top: 1px;
    padding-right: 1px;
}

.facebook {
    padding-top: 1px;
    padding-right: 1px;
}

.messanger {
    padding-top: 1px;
    padding-right: 1px;
}

/* Footer Bottom */
.footer_bottom {
    padding: 11px 15px;
    width: 100%;
}

.copyrightning {
    display: flex;
    width: 45%;
    text-align: left;
    align-items: center;
}

.payments {
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 50%;
    gap: 5px;
    justify-content: flex-end;
}


/* MEDIA */
@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
    .footer_box {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .footer_box {
        width: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {

    footer li {
        margin: 0;
        padding: 0 14px 10px 0;
    }

    footer ul {
        margin: 15px 0 0 0;
    }

    footer a {
        font-weight: 400;
    }

    .footer_content p {
        margin: 15px 0 0 0;
    }

    .footer_top {
        padding: 45px 15px 30px 15px;
    }

    .footer_box {
        width: 750px;
        flex-direction: column;
        padding: 0;
    }

    .footer_links {
        display: flex;
        flex-direction: column;
    }

    .about_col {
        width: 100%;
    }

    .menu_col {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
    }

    .information_col {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .contact_col {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .footer_social_links li {
        margin: 0 3% 0 0 ;
    }

    /* Footer Bottom */
    .footer_bottom {
        display: flex;
        padding: 25px 15px;
    }

    .footer_bottom p {
        font-size: 14px;
    }

    .footer_bottom img {
        object-fit: cover;
        max-width: 100px;
    }

    .footer_box.bottom {
        display: flex;
        flex-direction: row;
    }

    .copyrightning {
        width: 70%;
    }

    .payments {
        width: 25%;
        display: flex;
        padding-top: 6px;
        padding-left: 20px;
    }
}

@media (max-width: 500px) {
    .payments {
        flex-direction: column;
    }
}